<div class="feedback-item">
  <div class="feedback-voting">
    <form method="post" action="/posts/<%=@post.id%>/votes" name="post-vote">
      <button type="submit" name="vote" value="1" <%= voted?(@post.id, 1) %>>
        &#9650;
      </button><br>
      <span id="post-<%=@post.id%>-vote-sum"><%= @post.vote_sum %></span><br>
      <button type="submit" name="vote" value="-1" <%= voted?(@post.id, -1) %>>
        &#9660;
      </button>
    </form>
  </div>
  <div class="feedback-inner">
    <div class="feedback-header">
      <div class="element">
        <span class="counter"><%= @i += 1 if @i %></span>.

        <span class><%= @post.text %></span>
        <br>
          <small>
            by <%= @post.name_type %> |
            <%= @post.comments.count %> comments
          </small>
      </div>
    </div>
    <div class="feedback-comments">
      <%= erb :'/partials/_comments_accordion' %>
    </div>
  </div>
</div>
