<div class="container">

  <!-- Hidden Signup -->
  <div class="row-submit" id="signupStudent" style="display: none;">
    <h3>Sign Up</h3>

    <form name="signup" action="/signup" method="post">
      <input type="text" name="user[username]" placeholder="username"/><br>
      <br>
      <input type="text" name="user[email]" placeholder="email"/><br>
      <br>
      <input type="password" name="user[password]" placeholder="password"/><br>
      <br>
      <button type="submit" name="signup_submit">sign up</button>
    </form>
  </div>

  <% i = 0 %>
  <% @posts.each do |post| %>
    <%= i += 1 %>.
    <form method="post" action="/posts/<%=post.id%>/votes" name="post-vote">
      <small>
        <button type="submit" name="vote" value="1">&#9650;</button>
      </small>
      <small>
        <button type="submit" name="vote" value="-1">&#9660;</button>
      </small>
    </form>
    <span class><a href="/posts/<%= post.id %>"><%= post.text %></a></span>
    <br>
      <small>
        <span id="post-<%=post.id%>-vote-sum"><%= post.vote_sum %></span> points
        by <%= post.name_type %> |
        <%= post.comments.count %> comments
      </small>
    <br>
    <br>
    <br>
  <% end %>
</div>
