<div class="container-votes">
  <%= erb :'/partials/_votes' %>
    <span class><a href="/posts/<%= @post.id %>"><%= @post.text %></a></span>
    <br>
    <small>
      <span id="post-<%=@post.id%>-vote-sum"><%= @post.vote_sum %></span> points
      by <%= @post.name_type %> |
      <%= @post.comments.count %> comments
    </small>
    <br>
    <br>
  <%= erb :'/partials/_comments' %>
</div>
